header {
    height: 100px;
    width: 100vw;
    display: flex;
    background-color: #C3F3C0;
  }
  body {
    background-color: rgb(233, 235, 238);
    margin: 0;
  }
  #headerleftimage {
    width: 100px;
    object-fit: cover;
    border:black;
    border-style: solid;
    border-width: 1px;
  }
  #sitetitle {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 43px;
    margin-left: 43px;
  }
  
  /* nav {
      display: flex;
      justify-content: right;
    } */
  .nav-container {
    margin: 3px 0 0 0;
    background-color: #A379c9;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-container > a {
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: ;
    font-size: 0.90em;
    width: 100px;
    padding: 5px; /* this is how i changed the height of the link - padding is the space around the text which changed the height of the a*/
    transition: background-color 500ms;
  }
  .nav-container > a:hover {
    background-color: lightgray;
    /* width: 250px; */
  }
  
  .nav-link {
    transition: background-color 3s, width 3s;
    /* Color timing working but width timing not??? */
    transition: 3s;
    transition: width 5s;
    /* Look at css vendor prefixes */
  }
  
  main {
    display: flex;
    flex-direction: column;
    margin: 3px 0 0 0;
    background-color: ;
  }
  
  /* main img {
      width: 20vw;
      margin: 20px;
    } */
  
  main > article {
    display: flex;
    flex-direction: row;
  }
  .leftpanel {
    width: 80vw;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: lightskyblue;
    text-align: center;
  }
  
  .rightpanel {   
    width: 20vw;
    background-color:#F3B61F;
  }

  footer {
    background-color: #FF8C61;
    overflow: auto;
    text-align: center;
  }
  
  footer i {
    padding: 5px;
    font-size: 3em;
  }
  
  footer i:hover {
    color: #F3B61F;
  }
  
  @media only screen and (max-width: 1000px) {
    main {
      background-color: purple;
    }
  }
  